nav {
  position: fixed;
  width: 100%;
  background-color: $color-motto;
  top: 0;
  z-index: 1;
  align-items: center;
  justify-content: space-between;
}

nav a {
  text-transform: uppercase;
}

.logoBtn {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.showNav {
  height: 190px;
}

.logo img {
  width: 50px;
}

.bar {
  width: 30px;
  margin: 5px;
  height: 4px;  
  background: white;
  margin-right: $xl-size;
}

.hamburgerBtn {
  cursor: pointer;
}

ul {
  height: 0;
  overflow: hidden;
  transition: all 0.7s ease;
}

ul li a {
  background: rgb(45, 136, 53);
  display: block;
  color: white;
  padding: $s-size;
  transition: all 0.5s ease;
  border-bottom: 1px solid black;
}

ul li a:hover {
  padding-left: $l-size;
  background-color: rgb(23, 99, 23);
  color: rgb(224, 47, 47);
}

.logo {
  font-size: $l-size;
  font-family: "Bodoni MT";
  border: 1px solid black;
  padding: 8px;
  background: rgba(209, 252, 199, 0.938);
  border-radius: 20px;
  color:rgb(255, 39, 1);
  text-shadow:
    0 1px 0 rgb(255, 39, 1),
    0 1.5px 0 rgb(255, 0, 0),
    0 2px 0 rgb(255, 127, 0),
    0 2.5px 0 rgb(255, 255, 0),
    0 3px 0 rgb(0, 255, 0),
    0 3.5px 0 rgb(0, 0, 255),
    0 4px 0 rgb(46, 43, 95),
    0 4.5px 0 rgb(139, 0, 255),
    0 5px 5px rgba(53, 52, 52, 0.897),
    0 5.5px 5px rgba(200, 201, 200, 0.797),
    0 6px 10px rgba(145, 145, 145, 0.788),
    0 6.5px 10px rgba(95, 95, 95, 0.774),
    0 7px 15px rgb(22, 22, 22);
  transition: all 0.3s ease-in-out;        
  // cursor: pointer;
}

.logo:hover {
  text-shadow:
    0 1px 0 rgb(190,190,190),
    0 2px 0 rgb(185,185,185),
    0 3px 0 rgb(180,180,180),
    0 4px 0 rgb(175,175,175),
    0 5px 0 rgb(170,170,170),
    0 6px 0 rgb(165,165,165),
    0 7px 0 rgb(160,160,160),
    0 8px 0 rgba(177, 170, 170, 0.973),
    0 9px 0 rgb(185, 175, 175),
    0 1px 5px rgba(224, 210, 210, 0.884),
    0 5px 5px rgba(201, 192, 192, 0.795),
    0 10px 10px rgba(0,0,0,.15),
    0 15px 10px rgba(0,0,0,.20),
    0 20px 15px rgba(0,0,0,.25);
}