.icons {
    font-size: $xl-size;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.icons > * {
    margin: $l-size;
}

.icons svg {
    margin: $s-size;
    
}

.column {
    display: flex;
    width: 32%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
