.website-card {
    background-color: #a8b4c1;
    background-image: radial-gradient(circle, purple, yellow, green);
    padding: $m-size;
    border-radius: 10px;
    margin-bottom: 10%;
}

.website-card img:hover {
    opacity: 0.5;
}

.border-card {
    border: 2px solid black;
    background-image: linear-gradient( #d4d4d4, #b9b9b9,#5bca57);
}

.text-below-img {
    max-width: 50vh;
    width: 100%;
}

.linkWebsiteCard {
    font-weight: bold;
}

.linkWebsiteCard:hover {
    color: $color-motto;
    cursor: pointer;
} 

.additionalDescriptionCard {
    padding: 4%;
}