html {
    font-size: 62.5%;
  }
  
  body {
    font-family: Helvetica, Arial, sans-serif;
    font-size: $m-size;
    background-color: grey;
  }

  * {
    margin: 0;
    padding: 0;
  }

  .app-wrapper {
    margin: $xl-size;
    text-align: center;
  }

  h1 {
    margin: $xl-size;
  }
  