html {
    font-size: 62.5%;
    overflow-x: hidden;
  }
  
  body {
    font-family: Helvetica, Arial, sans-serif;
    font-size: $m-size;
    background-color: #232423;
  }

  * {
    margin: 0;
    padding: 0;
  }

  .app-wrapper {
    margin: $xl-size;
    text-align: center;
    padding-bottom: $l-size
  }

  h1 {
    margin: $xl-size;
    font-size: $xl-size;
    color: #21db21;
  }
  
  .wrapper {
    width: 100%;
    position: absolute;
    margin-bottom: 10%;
  }
  


  