* { 
  margin: 0;
  padding: 0;
}

html {
    font-size: 62.5%;
  }
  
  body {
    font-family: Helvetica, Arial, sans-serif;
    font-size: $m-size;
    background-color: grey;
    overflow-x: hidden;
    
  }

  h1 {
    margin: $m-size;
  }

.website-content {
  margin: $xl-size;
  margin-top: 12vh;
  text-align: center;
}


